<div class="container max-w-full bg-primary">
  <%= render partial: "pages/search-section-partials/navbar" %>
  <%= render partial: "pages/search-section-partials/announcement" %>
  <%= render partial: "pages/search-section-partials/search-container" %>
</div>