<div class="container bg-primary text-white mx-auto min-w-[1280px] max-w-[1100px] pt-24 pb-12 px-32">
  <div class="flex flex-row">
    <div class="basis-9/12 mt-1 ml-12">
      <h1 class="font-bold text-4xl text-primary-title"><%= t('home.announcement') %></h1>
      <h2 class="text-xl text-primary-title"><%= t('home.subannouncement-1') %></p>
      <h2 class="text-xl text-primary-title"><%= t('home.subannouncement-2') %></p>
    </div>
    <div class="basis-3/12 self-start justify-self-end">
      <%= link_to image_tag('busfor.ua-blablacar.svg'), "https://www.blablacar.com.ua/bus", target: "_blank" %>
    </div>
  </div>
</div>
