<div class="container bg-primary text-white mx-auto min-w-[1280px] max-w-[1100px] h-20 pt-6 pb-32 px-32 flex flex-row gap-x-3">
  <div class="basis-9/12 bg-white py-6 w-full">
  </div>
  <div class="basis-3/12 bg-secondary py-6 w-full">
  </div>
</div>
